* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFBE0B;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.main {
    display: flex;
    justify-content: center;
}

.box {
    height: 2.5rem;
    width: 2.5rem;
    font-size: larger;
    font-weight: 800;
    color: #d71c15;
    background-color: #f19368;
    z-index: 5;
}

.box:hover {
    box-shadow: 2px 2px 15px 5px rgb(236, 86, 86) inset;
}

.boxes {
    display: flex;
    height: 9rem;
    width: 9rem;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 2rem;
}

.game {
    text-align: center;
}

.resetBtn {
    background-color: #3A86FF;
    padding: 8px;
    border: none;
    border-radius: 15px;
}

.resetBtn:hover {
    box-shadow: 2px 2px 15px 2px black;

}

.newBtn {
    background-color: #3A86FF;
    padding: 8px;
    border: none;
    border-radius: 15px;
}

.msgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    flex-direction: column;
    height: 20vh;

}

.hide {
    visibility: hidden;
}